<div ng-controller="CartCtrl as cartCtrl">
    <h3>Cart</h3>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="item in cartCtrl.items">
                <td colspan="2">{{item.name}}</td>
                <td class="text-right">{{item.price | currency}}</td>
            </tr>
            <tr>
                <td colspan="2">Total</td>
                <td class="text-right">{{cartCtrl.getTotal() | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>