<div ng-controller="ListCtrl as listCtrl">
    <h3>Available Items</h3>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="item in listCtrl.items">
                <td>
                    <button ng-click="listCtrl.addToCart(item)" class="btn btn-default btn-sm" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
                <td><button class="btn btn-link" ng-click="listCtrl.selectItem(item)">{{item.name}}</button></td>
                <td class="text-right">{{item.price | currency}}</td>
            </tr>
        </tbody>
    </table>

    <div ng-if="listCtrl.currentItem.id" class="alert alert-info">
        <button ng-click="listCtrl.clearSelection()" type="button" href="#" class="close" title="close">x</button>
        <strong>{{listCtrl.currentItem.name}} Details:</strong>
        <p>{{listCtrl.currentItem.details}}</p>
    </div>

</div>
